In [1]:
import pandas as pd

In [2]:
url = 'https://raw.githubusercontent.com/alura-cursos/pandas-conhecendo-a-biblioteca/main/base-de-dados/aluguel.csv'

In [3]:
dados = pd.read_csv(url, sep = ';')

In [4]:
dados.shape

(32960, 9)

In [5]:
dados.columns

Index(['Tipo', 'Bairro', 'Quartos', 'Vagas', 'Suites', 'Area', 'Valor',
       'Condominio', 'IPTU'],
      dtype='object')

In [6]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32960 entries, 0 to 32959
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Tipo        32960 non-null  object
 1   Bairro      32960 non-null  object
 2   Quartos     32960 non-null  int64
 3   Vagas       32960 non-null  int64
 4   Suites      32960 non-null  int64
 5   Area        32960 non-null  int64
 6   Valor       32943 non-null  float64
 7   Condominio  28867 non-null  float64
 8   IPTU        22723 non-null  float64
dtypes: float64(3), int64(4), object(2)
memory usage: 2.3+ MB

In [7]:
dados['Tipo']

0                      Quitinete
1                           Casa
2        Conjunto Comercial/Sala
3                    Apartamento
4                    Apartamento
                  ...
32955                  Quitinete
32956                Apartamento
32957                Apartamento
32958                Apartamento
32959    Conjunto Comercial/Sala
Name: Tipo, Length: 32960, dtype: object

In [8]:
dados[['Quartos', 'Valor']]

       Quartos   Valor
0            1  1700.0
1            2  7000.0
2            0  5200.0
3            1   800.0
4            1   800.0
...        ...     ...
32955        0   800.0
32956        3  1800.0
32957        2  1400.0
32958        2  3000.0
32959        0  6500.0

[32960 rows x 2 columns]

In [10]:
dados['Valor'].mean()

np.float64(12952.659715265761)

In [11]:
dados.groupby('Tipo').mean(numeric_only=True)

,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
Tipo,,,,,,,
Apartamento,2.481569,1.232388,0.875998,119.790498,4744.614648,1722.653697,686.170413
Box/Garagem,0.060976,1.304878,0.000000,17.524390,1899.756098,305.450000,125.846154
Casa,3.133402,1.795243,1.258532,250.578077,6793.454922,931.280952,1582.506394
Casa Comercial,1.562264,2.203774,0.260377,372.241509,14478.264151,1935.709677,1707.386740
Casa de Condomínio,4.007028,3.101406,2.864458,456.161647,11952.061245,1342.025527,3252.517730
Casa de Vila,1.927711,0.389558,0.228916,78.469880,1574.369478,138.768421,183.878788
Chácara,3.000000,0.000000,0.000000,0.000000,4900.000000,NaN,NaN
Conjunto Comercial/Sala,0.040939,2.516801,0.010858,214.472487,14715.045521,4512.218100,1399.596571
Flat,1.415966,0.962185,0.754202,65.483193,4546.189076,2027.720554,493.166667
Galpão/Depósito/Armazém,0.043339,5.587480,0.000000,2514.810594,53407.062600,10560.308824,5050.465241
Hotel,25.500000,2.500000,12.000000,885.500000,25000.000000,NaN,6202.000000
Indústria,0.000000,0.000000,0.000000,22.000000,120000.000000,NaN,NaN
Loft,1.117647,0.666667,0.372549,58.372549,2557.882353,869.239130,238.243243
Loja Shopping/ Ct Comercial,0.044534,6.874494,0.008097,88.109312,8126.178862,1790.109005,1052.415459
Loja/Salão,0.010519,1.217391,0.043478,228.852034,13769.646770,2605.601954,2670.331409
Loteamento/Condomínio,0.000000,0.000000,0.000000,2069.000000,22000.000000,NaN,4885.000000
Pousada/Chalé,23.000000,0.000000,23.000000,862.000000,1480.000000,295.000000,NaN
Prédio Inteiro,0.335548,11.199336,0.019934,1773.837209,498637.239203,55066.750000,165480.022472
Quitinete,0.834928,0.017943,0.037081,28.954545,1246.840909,427.341969,75.790741
Studio,0.500000,0.250000,0.000000,103.250000,2400.000000,549.000000,151.250000
Sítio,5.100000,1.000000,3.800000,15217.000000,12499.000000,NaN,5848.800000
Terreno Padrão,0.042857,0.057143,0.000000,5044.814286,32567.714286,1.000000,5138.170732

In [12]:
dados.groupby('Tipo')['Valor'].mean()

Tipo
Apartamento                      4744.614648
Box/Garagem                      1899.756098
Casa                             6793.454922
Casa Comercial                  14478.264151
Casa de Condomínio              11952.061245
Casa de Vila                     1574.369478
Chácara                          4900.000000
Conjunto Comercial/Sala         14715.045521
Flat                             4546.189076
Galpão/Depósito/Armazém         53407.062600
Hotel                           25000.000000
Indústria                      120000.000000
Loft                             2557.882353
Loja Shopping/ Ct Comercial      8126.178862
Loja/Salão                      13769.646770
Loteamento/Condomínio           22000.000000
Pousada/Chalé                    1480.000000
Prédio Inteiro                 498637.239203
Quitinete                        1246.840909
Studio                           2400.000000
Sítio                           12499.000000
Terreno Padrão                  32567.714286
Name: Valor, dtype: float64

In [13]:
dados.groupby('Tipo')[['Valor']].mean().sort_values('Valor')

                                     Valor
Tipo
Quitinete                      1246.840909
Pousada/Chalé                  1480.000000
Casa de Vila                   1574.369478
Box/Garagem                    1899.756098
Studio                         2400.000000
Loft                           2557.882353
Flat                           4546.189076
Apartamento                    4744.614648
Chácara                        4900.000000
Casa                           6793.454922
Loja Shopping/ Ct Comercial    8126.178862
Casa de Condomínio            11952.061245
Sítio                         12499.000000
Loja/Salão                    13769.646770
Casa Comercial                14478.264151
Conjunto Comercial/Sala       14715.045521
Loteamento/Condomínio         22000.000000
Hotel                         25000.000000
Terreno Padrão                32567.714286
Galpão/Depósito/Armazém       53407.062600
Indústria                    120000.000000
Prédio Inteiro               498637.239203

In [14]:
df_preco_tipo = dados.groupby('Tipo')[['Valor']].mean().sort_values('Valor')

In [15]:
dados.Tipo.unique()

array(['Quitinete', 'Casa', 'Conjunto Comercial/Sala', 'Apartamento',
       'Casa de Condomínio', 'Prédio Inteiro', 'Flat', 'Loja/Salão',
       'Galpão/Depósito/Armazém', 'Casa Comercial', 'Casa de Vila',
       'Terreno Padrão', 'Box/Garagem', 'Loft',
       'Loja Shopping/ Ct Comercial', 'Chácara', 'Loteamento/Condomínio',
       'Sítio', 'Pousada/Chalé', 'Studio', 'Hotel', 'Indústria'],
      dtype=object)

In [17]:
imoveis_comerciais = ['Conjunto Comercial/Sala',
                      'Prédio Inteiro',
                      'Loja/Salão',
                      'Galpão/Depósito/Armazém',
                      'Casa Comercial',
                      'Terreno Padrão',
                      'Box/Garagem',
                      'Loja Shopping/ Ct Comercial',
                      'Chácara',
                      'Loteamento/Condomínio',
                      'Sítio',
                      'Pousada/Chalé',
                      'Hotel',
                      'Indústria']

In [19]:
dados.query('@imoveis_comerciais in Tipo')

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200.0,4020.0,1111.0
9,Conjunto Comercial/Sala,Centro,0,3,0,695,35000.0,19193.0,3030.0
16,Prédio Inteiro,Botafogo,0,0,0,536,28000.0,NaN,3563.0
26,Conjunto Comercial/Sala,São Cristóvão,0,1,0,25,1100.0,600.0,NaN
29,Loja/Salão,Campo Grande,0,1,0,35,1300.0,950.0,NaN
...,...,...,...,...,...,...,...,...,...
32942,Conjunto Comercial/Sala,Barra da Tijuca,0,1,0,55,2000.0,1096.0,NaN
32946,Conjunto Comercial/Sala,Centro,0,0,0,140,4000.0,1412.0,496.0
32948,Conjunto Comercial/Sala,Centro,0,0,0,32,600.0,1035.0,83.0
32954,Box/Garagem,Centro,0,0,0,755,14000.0,NaN,NaN
32959,Conjunto Comercial/Sala,Centro,0,0,0,250,6500.0,4206.0,1109.0

In [20]:
dados.query('@imoveis_comerciais not in Tipo')

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
4,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
5,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...
32953,Apartamento,Méier,2,0,0,70,900.0,490.0,48.0
32955,Quitinete,Centro,0,0,0,27,800.0,350.0,25.0
32956,Apartamento,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0
32957,Apartamento,São Francisco Xavier,2,1,0,48,1400.0,509.0,37.0
32958,Apartamento,Leblon,2,0,0,70,3000.0,760.0,NaN

In [21]:
df = dados.query('@imoveis_comerciais not in Tipo')
df.head()

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
4,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
5,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN

In [25]:
df.Tipo.unique()

array(['Quitinete', 'Casa', 'Apartamento', 'Casa de Condomínio', 'Flat',
       'Casa de Vila', 'Loft', 'Studio'], dtype=object)

In [27]:
df.Tipo.value_counts(normalize=True)

Tipo
Apartamento           0.845139
Casa de Condomínio    0.043096
Casa                  0.041842
Quitinete             0.036173
Flat                  0.020596
Casa de Vila          0.010774
Loft                  0.002207
Studio                0.000173
Name: proportion, dtype: float64

In [29]:
df.Tipo.value_counts(normalize=True).to_frame().sort_values('Tipo')

                    proportion
Tipo
Apartamento           0.845139
Casa                  0.041842
Casa de Condomínio    0.043096
Casa de Vila          0.010774
Flat                  0.020596
Loft                  0.002207
Quitinete             0.036173
Studio                0.000173

In [30]:
df_percentual_tipo = df.Tipo.value_counts(normalize=True).to_frame().sort_values('Tipo')

In [33]:
df.query('Tipo == "Apartamento"')

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
4,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
5,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN
6,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0
10,Apartamento,Centro,1,0,0,36,1200.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...
32951,Apartamento,Vila Valqueire,2,0,0,52,1000.0,550.0,NaN
32953,Apartamento,Méier,2,0,0,70,900.0,490.0,48.0
32956,Apartamento,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0
32957,Apartamento,São Francisco Xavier,2,1,0,48,1400.0,509.0,37.0
32958,Apartamento,Leblon,2,0,0,70,3000.0,760.0,NaN

In [34]:
df.head(10)

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
4,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
5,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN
6,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0
7,Casa de Condomínio,Barra da Tijuca,5,4,5,750,22000.0,NaN,NaN
8,Casa de Condomínio,Ramos,2,2,0,65,1000.0,NaN,NaN
10,Apartamento,Centro,1,0,0,36,1200.0,NaN,NaN
11,Apartamento,Grajaú,2,1,0,70,1500.0,642.0,74.0

In [35]:
#Calcular a média de quartos dos imóveis;
df.Quartos.mean()

np.float64(2.4837523257323353)

In [36]:
df.Bairro.nunique()

154

In [ ]:
media_valor_geral = df['Valor'].mean()

In [48]:
media_valor_bairro = (
    df.groupby('Bairro')['Valor'].mean().reset_index
)
media_valor_bairro

<bound method Series.reset_index of Bairro
Abolição             1195.625000
Alto da Boa Vista    3966.666667
Anchieta              784.285714
Andaraí              1463.030612
Anil                 1987.368421
                        ...
Vila Valqueire       1741.800000
Vila da Penha        1220.161290
Vista Alegre         1087.142857
Zumbi                2150.000000
Água Santa            860.000000
Name: Valor, Length: 154, dtype: float64>

In [50]:
df.isnull().sum()

Tipo             0
Bairro           0
Quartos          0
Vagas            0
Suites           0
Area             0
Valor            9
Condominio    1865
IPTU          6879
dtype: int64

In [51]:
df.fillna(0)

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,0.0,0.0
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
4,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,0.0
5,Apartamento,Vista Alegre,3,1,0,70,1200.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...
32953,Apartamento,Méier,2,0,0,70,900.0,490.0,48.0
32955,Quitinete,Centro,0,0,0,27,800.0,350.0,25.0
32956,Apartamento,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0
32957,Apartamento,São Francisco Xavier,2,1,0,48,1400.0,509.0,37.0
32958,Apartamento,Leblon,2,0,0,70,3000.0,760.0,0.0

In [ ]:
df = df.fillna(0)

In [53]:
df.isnull().sum()

Tipo          0
Bairro        0
Quartos       0
Vagas         0
Suites        0
Area          0
Valor         0
Condominio    0
IPTU          0
dtype: int64

In [54]:
df.query('Valor == 0 | Condominio == 0')

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
1,Casa,Jardim Botânico,2,0,1,100,7000.0,0.0,0.0
5,Apartamento,Vista Alegre,3,1,0,70,1200.0,0.0,0.0
7,Casa de Condomínio,Barra da Tijuca,5,4,5,750,22000.0,0.0,0.0
8,Casa de Condomínio,Ramos,2,2,0,65,1000.0,0.0,0.0
10,Apartamento,Centro,1,0,0,36,1200.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...
32859,Casa,Campo Grande,1,0,0,50,600.0,0.0,0.0
32865,Casa de Vila,Pavuna,2,0,0,55,600.0,0.0,0.0
32893,Casa,Recreio dos Bandeirantes,4,2,2,352,6500.0,0.0,0.0
32911,Casa,Bento Ribeiro,2,1,0,60,1400.0,0.0,0.0
32931,Casa,Centro,5,0,1,160,5000.0,0.0,80.0

In [55]:
df.query('Valor == 0 | Condominio == 0').index

Index([    1,     5,     7,     8,    10,    18,    31,    76,   113,   117,
       ...
       32732, 32739, 32778, 32804, 32809, 32859, 32865, 32893, 32911, 32931],
      dtype='int64', length=1872)

In [56]:
registros_a_remover = df.query('Valor == 0 | Condominio == 0').index

In [58]:
df.drop(registros_a_remover, axis=0, inplace = True)

In [59]:
df.query('Valor == 0 | Condominio == 0')

Empty DataFrame
Columns: [Tipo, Bairro, Quartos, Vagas, Suites, Area, Valor, Condominio, IPTU]
Index: []

In [60]:
df.head()

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
4,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,0.0
6,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0
11,Apartamento,Grajaú,2,1,0,70,1500.0,642.0,74.0

In [61]:
df.Tipo.unique()

array(['Quitinete', 'Apartamento', 'Flat', 'Casa de Condomínio', 'Casa',
       'Casa de Vila', 'Loft', 'Studio'], dtype=object)

In [62]:
df.drop('Tipo', axis=1, inplace=True)

In [64]:
selecao1 = df['Quartos']  == 1

In [65]:
selecao2 = df['Valor'] < 1200

In [66]:
selecao_final = (selecao1) & (selecao2)

In [68]:
df[ selecao_final ]

             Bairro  Quartos  Vagas  Suites  Area   Valor  Condominio   IPTU
3            Centro        1      0       0    15   800.0       390.0   20.0
4      Higienópolis        1      0       0    48   800.0       230.0    0.0
28           Tijuca        1      0       0    48   750.0       772.0   25.0
54           Centro        1      0       0    27   750.0       371.0   19.0
94           Centro        1      1       0    37  1100.0       540.0  900.0
...             ...      ...    ...     ...   ...     ...         ...    ...
32714      Botafogo        1      0       0    21  1000.0       282.0   25.0
32763        Glória        1      0       0    10   400.0       107.0   10.0
32818      Flamengo        1      0       0    23   900.0       605.0    0.0
32844        Centro        1      0       0    24  1100.0       323.0    0.0
32950        Tijuca        1      0       0    28  1000.0       360.0   25.0

[823 rows x 8 columns]

In [69]:
df_1 = df[ selecao_final ]

In [71]:
selecao = (df['Quartos'] >= 2) & (df['Valor'] < 3000) & (df["Area"] > 70)

In [73]:
df[selecao]

,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
12,Lins de Vasconcelos,3,1,1,90,1500.0,455.0,14.0
21,Tijuca,2,1,0,110,1900.0,700.0,138.0
24,Tijuca,2,1,0,78,2000.0,700.0,0.0
32,Botafogo,2,1,0,76,2500.0,740.0,0.0
36,Recreio dos Bandeirantes,3,1,1,105,2300.0,648.0,0.0
...,...,...,...,...,...,...,...,...
32934,Jacarepaguá,2,1,1,78,2200.0,790.0,180.0
32940,Barra da Tijuca,2,1,1,85,2250.0,1561.0,197.0
32941,Barra da Tijuca,3,2,0,98,2300.0,887.0,177.0
32944,Recreio dos Bandeirantes,3,2,1,88,1550.0,790.0,0.0
32956,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0

In [74]:
df_2 = df[selecao]

In [77]:
df.to_csv('dados_apartamento.csv', index=False)

In [80]:
df_1.to_csv('Requisição 1.csv', index=False, sep=';')

In [81]:
df_2.to_csv('Requisição 2.csv', index=False, sep=';')